#app {
    width: 60%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  span {
    margin: 20px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
  }
  
  

  span.high {
    margin: 20px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #FF7F8A;
    padding: 12px;

  }

  span.low {
    margin: 20px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #9DC5BB;
    padding: 12px;

  }
  
  
  
  input[type="submit"] {
    padding: 20px;
   

    border-radius: 2px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    position:relative;
    transition: .5s ease;
    
    left: 3%;
 
    
  }

  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
  
  